/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
body {
  background-color: #f8f8fa;
}

/*--------------------- header section -----------------------*/
header {
  background-color: #4617fe;
  display: flex;
  height: 80vh;
  padding: 0 6%;
}
nav {
  order: 2;
  margin-left: auto;
  height: 12vh;
  display: flex;
  gap: 30px;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
}
nav .nav-item {
  cursor: pointer;
}
nav .nav-item-active {
  background-color: #FFFFFF;
  color: #4617fe;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
header div .logo {
  order: 1;
  margin-top: 50px;

}
header .header-text {
  position: absolute;
  margin-top: 180px;
  color: #FFFFFF; 
}
header .header-text h2 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 12px; 
}
header .header-text p {
    opacity: 0.9;
}
header div:last-child {
  position: absolute;
  right: 0;
  width: 600px;
  top: 90px;
}
header div .header-image {
  width: 100%;
}

/*----------------------- companies --------------------*/

.companies {
  display: flex;
  margin: 0 6%;
  margin-top: 30px;
  gap: 3rem;
}
.companies .company-items {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  font-family: "Righteous";
}


/*------------------- api section --------------------*/
.api {
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 8%;
}
.api .api-heading {
  margin: 0% 5%;
  font-size: 2.8rem;
  font-weight: 900;
}
.api .cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
  position: relative; 
  justify-content: center;
}
.api .cards .card-active {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 40px 20px;
  width: 190px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.04);
  color: #4617fe;
}
.api .cards .card-active h3 {
    margin-top: 14px;
}
.api .cards .card-active p {
    color: #000;
    margin-top: 10px;
    font-size: 14px;
}
.api .cards .card {
  padding: 40px 20px;
}
.api .cards .card h3 {
  margin-top: 14px;
}
.api .cards .card p {
  color: #000000;
  margin-top: 10px;
  font-size: 14px; 
}
.api .cards .card:nth-child(3) {
    padding-top: 14px;
}

.card:last-child::after {
  content: ">";
  display: flex;
  background-color: #4617fe;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 80px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
 }

 /*----------------------- Blog section -----------------------*/

.blog-heading {
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 84px;
}
    
.blog-heading h1 {
  margin: 0% 5%;
  font-size: 2.8rem;
 }
 .blog-cards {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  padding-left: 25px;
 }
 .blog-card {
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.04);
  height: 288px;
 }
 .blog-image {
  display: inline-block;
 }
 .blog-image img {
  display: inline-block;
 }
 .blog-content {
  display: inline-block;
  vertical-align: top;
  padding: 30px 90px 0px 50px;
 }
 .blog-content h6 {
    color: #4617fe;
    font-weight: 900;
 }
 .blog-content h3 {
  padding-top: 15px;
  font-weight: 900;
  margin-bottom: 14px;
 }
 .blog-content small {
  font-weight: bold;
}
.blog-bottom {
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  left: 320px;
  bottom: -20px;
}

 div.blog-author {
  position: absolute;
  bottom: -20px;
  left: 390px;
  bottom: 12px;
  font-size: 12px;
  font-weight: 900;
 }
/*------------------- Faq section -------------------*/
 .faq-section {
  margin-top: 124px;
  padding: 0 90px;
  background-color: #e9edff;
  display: flex;
  padding-top: 40px;
  position: relative;
  height: 350px;
 }
 .faq-section .faq-content h2 {
  font-size: 2.8rem;

 }
 .faq-section .faq-content h4 {
  font-size: 12px;
  padding-top: 15px;
 }
 .faq-section .faq-content h2 ~ h4:not(:first-of-type) {
  font-size: 1rem;
  padding-top: 34px;
 }
 .faq-section .faq-image {
  align-self: flex-end;
  display: flex;
  position: absolute;
  right: 0;
  height: 390px;
 }
 .faq-section .faq-content button {
    background-color: #5a31fc;
    border: none;
    color: #FFFFFF;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 4px;
 }

/*-------------------- Download section --------------------*/

.download-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 90px;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}
.download-section .download-content span {
  font-weight: 100;
}
.download-section .download-email {
  position: absolute;
  right: 0px;
}
.download-section .download-email form input {
  outline: none;
  border: none;
  background-color: #e9edff;
  padding: 15px 170px 15px 40px;
  border-radius: 50px;
  width: 360px;
}
.download-section .download-email form input::placeholder {
  font-weight: 600;
  color: #505050;
  font-size: 12px;
}
.download-section .download-email form button {
  position: relative;
  right: 140px;
  background-color: #4617fe;
  color: #FFFFFF;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
}

/*------------------- footer section ----------------------*/

.footer-section {
  background-color: #481afe;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px;
  align-items: center;
  height: 40vh;
  flex-wrap: wrap;
}

.footer-section .footer-left .list {
    list-style-type: none;
    display: flex;
    gap: 39px;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 13px;
    padding-top: 20px;
    margin-left: -40px;
}
.footer-section .footer-left .list .list-items ~ .list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom: 20px;
}
.footer-right .footer-logos:not(:last-child) {
  margin-right: 15px;

}
.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
}
.footer-right .logos-list .list-items:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}

/* Responsive */
@media only screen and (max-width:680px) {
  header div .header-image{
    display: none;
  }
  nav{
    display: none;
  }
 header .header-text{
  margin-top: 100px;
 }
 header .header-text h2{
  font-size: 25px;
 }
 .companies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .card:last-child::after{
  display: none;
 }
 .blog-cards{
  display: flex;
  flex-direction: column;
  gap:100px;
 }
 .blog-card{
  display: flex;
  flex-direction: column;
height: 550px;
 }
 .blog-image{
  width:250px;
 }
 .blog-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
 }
 .blog-bottom{
  position: relative;
  top:30px;
  left:40px;
}
div .blog-author{
  position: relative;
  top:-5px;
  left:50px;
}
.faq-section{
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 20px;
}
.faq-section .faq-content h2 {
  font-size: 25px;
}
.faq-section .faq-image img{
  display: none;
}
.download-section{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 30px;
}
.download-section .download-email {
  position: absolute;
  right:auto;
}
.download-section .download-email form input {
 width:100px;
 margin-top: 130px;
 display: flex;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
}
.download-section .download-email form button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:auto;
}
.footer-section .footer-left .list {
  gap: 15px;
}
.footer-section .footer-left .list .list-items ~ .list-items:not(:last-of-type)::after {
  display: none;
}
.footer-right .logos-list .list-items:not(:last-child)::after {
  display: none;
}
 
}
@media only screen and (max-width:890px) and (min-width:685px) {
  body{
    overflow-x: hidden;
  }
  header div .header-image{
    /* display: none; */
    width:200px;
    position: absolute;
    right:0;
    top:252px;
  }
  .blog-cards{
    gap: 40px;
  }
  .faq-section .faq-image img{
    width:200px;
    position: absolute;
    right:0;
    
  }
  .download-content{
    display: none;
  }
}
@media only screen and (max-width:1080px) and (min-width:900px) {
  header div .header-image{
    /* display: none; */
    width:300px;
    position: absolute;
    right:0;
    top:187px;
  }
  .blog-cards{
    gap: 40px;
  }
  .faq-section .faq-image img{
    width:400px;
    height:390px;
    position: absolute;
    right:0;
    
  }
  .download-content h1{
    display: none;
  }
}

